.pagination{
  position: fixed;
  right:20px;
  z-index: 9;
  background: #fff;
  width: 100%;
  padding-top: 10px;
  bottom: 0;
  text-align: right;
  height: 50px;
}
.table{
  height:75%;
  width:100%;
  margin-bottom: 50px;
}
